@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#graph-div {
  flex: 1;
}

.tile-row {
  width: 100vw;
  margin: 10px;
}
#dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(200px, auto);

  margin: 10px;
}

#title {
  margin-left: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 5.5rem;
  letter-spacing: 0.2rem;
  font-family: 'Bebas Neue', sans-serif;
}

#title span {
  color: lightblue;
}

.tile-2 { grid-column: span 2; }
.tile-3 { grid-column: span 3; }
.tile-4 { grid-column: span 4; }
.tile-5 { grid-column: span 5; }
.tile-6 { grid-column: span 6; }

.tile {
  border: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  width: fit-content;
}

.inputField {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
/* #root { */
/*   max-width: 1280px; */
/*   margin: 0 auto; */
/*   padding: 2rem; */
/*   text-align: center; */
/* } */
/**/
/* .logo { */
/*   height: 6em; */
/*   padding: 1.5em; */
/*   will-change: filter; */
/*   transition: filter 300ms; */
/* } */
/* .logo:hover { */
/*   filter: drop-shadow(0 0 2em #646cffaa); */
/* } */
/* .logo.react:hover { */
/*   filter: drop-shadow(0 0 2em #61dafbaa); */
/* } */
/**/
/* @keyframes logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */
/**/
/* @media (prefers-reduced-motion: no-preference) { */
/*   a:nth-of-type(2) .logo { */
/*     animation: logo-spin infinite 20s linear; */
/*   } */
/* } */
/**/
/* .card { */
/*   padding: 2em; */
/* } */
/**/
/* .read-the-docs { */
/*   color: #888; */
/* } */
/**/
/* .grey-section { */
/*   background-color: lightgrey; */
/*   border-radius: 10px; */
/* } */
